@media screen and (max-width:1300px) {
    /* nav button{
        display: block;
    } */


    .navigation a{
        flex-wrap: wrap;
        margin: 0;
        text-shadow: 0px 2px 2px #000;
    }
    header{
        overflow: hidden;
        display: flex;
        justify-content: space-between;
    }

    .merda{
        display: flex;
        justify-content: space-between;
    }
    .navigation{
        display: none;
        flex-direction: column;
        margin-top: 20px;
    }
    .navigation.open{
        display: flex;
        /* flex-direction: column; */
        justify-content: center;
        text-align: center;
        flex-direction: column;
        /* width: 100%; */

    }
    .navigation.open a{
        display: flex;
        /* width: 100%; */
        justify-content: center;
    }
    .navigation.open a{
        text-align: center !important;
    }
    .container1{
        left: 20%;
        /* width: 400px; */
        width: 600px;

    }
    .text{
        width: 900px;
    }

    .effec{
        width: auto;
        left: 5%;
    }

    .future{
        font-size: 3em !important;
    }
    #ham{
     /* justify-self: center; */
        display: block;
        z-index: 0;
        /* border: 2px solid white; */
        padding: 5px;
        font-size: 1.5em;
        margin-right: 50px;
        margin-top: 20px;
        width: 50px;
        height: 50px;
    }
    .buttons{
        width: 80%;
    }
    .projects{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 400px);
        margin-bottom: 100px;
    }
    
    .text{
        width: 90%;
    }
    .projects img{
        width: 100%;
    }
    .container1{
        left: 2%;
    }
    
    .wrapper{
        left: 5%;
    }
    .ima{
        height: 300px;
        width: 300px;
    }
    .imb{
        height: 50px;
        width: 50px;
    }


    .login{
        display: none;
    }
    header{
        
        display: block;
        /* width: 100%; */
        /* justify-content: space-between; */
    }
    .navactive{
        background:rgba(0, 255, 255); 
        box-shadow: 0 2px 20px rgba(0, 255, 255); 
        transition: .5s ease-in-out;
        transform: scale(1.1);
    }
    .navigation a::after{
        width: 0%;
    }
    header{
        margin: 0;
        padding: 0;
        padding-bottom: 10px;
    }
}